body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:rgba(43, 29, 29, 0.986);
    background-color: aliceblue;
}

ol {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:rgba(43, 29, 29, 0.986);
    background-color: aliceblue; }
    
.underline {text-decoration: underline;}
.bold {font-weight: bold;}
.justify {text-align: justify;}


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:rgba(43, 29, 29, 0.986);
    background-color: aliceblue;
}

li {
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}
a {
    color: rgb(6, 7, 85);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: pink;
}

.ResumeListHeading {
    font-weight: bolder;
    font-style: normal;
}

.underline {text-decoration: underline;}
.bold {font-weight: bold;}
.justify {text-align: justify;}

.homebg {
    background-image: url('images/Background.jpeg');
    background-position: bottom right;
    background-repeat: repeat;
}

.box1  {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(5, 22, 73);
    border: solid 1px pink;
}
